.badge{
   
    font-weight: 600;
    width: 15px;
    height: 15px;
    line-height: 15px;

    background-color: tomato;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 10px;
}