.screen-header{
    display: flex;
    padding: var(--horizontal-spacce);
    margin-bottom:15px;
    justify-content: space-between;
   
    
    align-items: center;
}
.screen-header-title{
    font-size: 2rem;
    font-weight: 600;
}
.screen-header__icons span{
    margin-left:25px;
}
@keyframes rotateCog{
    0%{
        transform: none;
    }
    100%{
        transform: rotateZ(360deg);
    }
}
.screen-header__icons .fa-cog:hover{
    animation: rotateCog 1s linear infinite;
}